.idea/
*.iml
target/
.classpath
.project
.metadata
.settings/
/bin/
/src/META-INF/MANIFEST.MF
/out
*.zip
!**/phpHelloWorld.zip
**/*.log
.java-version
.vagrant
**/nohup.out
release.properties
pom.xml.*
.DS_Store
**/*.swp
